[Unit]
Description=Night Sky Pi
After=network.target

[Service]
Type=Simple
User=YourUser
WorkingDirectory=/home/joseph/repositories/night-sky-pi
ExecStart=/home/joseph/repositories/night-sky-pi/nsp.sh /home/joseph/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
