[Unit]
Description=Night Sky Pi
After=network.target

[Service]
Type=Simple
User=username
WorkingDirectory=/home/username/repositories/night-sky-pi
ExecStart=/home/username/repositories/night-sky-pi/nsp.sh /home/username/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
